$colText: #2E2E2E;
$colPrimary: #F39C12;
$colPd: darken( $colPrimary, 20% );
$colPl: lighten( $colPrimary, 20% );
$colPvl: lighten( $colPrimary, 25% );
$pad: 15px;
$colError: #B40404;
$colEd: darken( $colError, 20% );
$colEl: lighten( $colError, 20% );

@import 'reset';
@import 'message';

/* Global --------------------------------------------------------------- */
html, body {
  color: $colText;
  height: 100%;
}
header, footer {
  padding: $pad;
}
header {
  background: url("/images/logo.png") left center no-repeat, $colPrimary;
  background-size: contain;
  min-height: $pad*4;
}
main, .main {
  min-height: calc(100vh - 200px);
}
.main {
  padding: $pad;
  position: relative;
}
footer {
  background-color: $colPrimary;
}
a {
  text-decoration: none;
  color: $colPl;
}
a:hover {
  color: $colPd;
}
.pageTitle {
  text-align:center;
}
a.btn, button {
  background-color: $colPrimary;
  border:none;
  padding: $pad ($pad * 2);
  color: #fff;
  display: inline-block;
}
a.btn:hover, button:hover {
  background-color: $colPd;
}
button:disabled {
  background-color: $colPvl;
}
.img {
  max-width: 100%;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
dt {
  font-weight: 800;
}
.alignCenter {
  display: block;
  margin: 0 auto;
  text-align:center;
}
.clear {
  flex: 1 1 100%;
  text-align: center;
  padding: ($pad * 2) 0px $pad;
  button {
    margin-right: $pad;
  }
}
.msg {
  padding: $pad ($pad * 2);
  margin: $pad;
  text-align:center;
  color: $colEd;
  background-color: $colEl;
  border: 1px solid $colError;
}
.light {
  background-color: rgba(255,255,255,0.5);
  padding: $pad ($pad * 2);
  overflow: auto;
}
.capitalize {
  text-transform: capitalize;
}

/* Navigation --------------------------------------------------------------- */
nav {
  ul {
    text-align: right;
    padding-top: 5px;
  }
  li {
    display: inline-block;
    padding: $pad;
  }
  a {
    background-color: $colPl;
    color: $colPd;
    padding: $pad ($pad * 2);
  }
  a:hover {
    background-color: $colPd;
    color: $colPl;
  }
}

/* Home Page ---------------------------------------------------------------- */
.homePage {
  text-align:center;
}
.homePage, .donePage {
  background: url("/images/pizza.jpeg") no-repeat center center fixed;
  padding: $pad;
  .light {
    margin-top: 20vh;
  }
  h1 {
    font-size: $pad * 3;
  }
}

/* Order Page --------------------------------------------------------------- */
.orderPage {
  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    align-items: stretch;
    background-color: $colPl;
    padding: $pad;
  }
  input {
    flex: 1 1 auto;
    padding: $pad;
    margin: ($pad*0.5) 0px;
  }
}

/* Choose Page -------------------------------------------------------------- */
.pizzas, .toppings {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.pizzas {
  justify-content: center;
}
.pizza {
  flex-grow: 1;
  justify-content: center;
  max-width: 300px;
}
.pizza, .topping {
  margin: $pad * 0.5;
  text-align:center;
  img {
    display: block;
    margin: 0px auto;
    padding: 0px;
  }
  label {
    margin: $pad 0px ($pad * 0.5);
    display: inline-block;
  }
  input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
    margin-right: $pad * 0.5;
  }
  p {
    margin-top: 0px;
  }
}

/* Custom Page -------------------------------------------------------------- */
.toppings {
  padding: ($pad * 2) 0px ($pad * 4);
}
.topping {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  img {
    display: inline-block;
    margin: 0px 15px 0px 0px;
  }
  img, label {
    text-align:center;
  }
  label {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: $pad * 5;
    input[type=checkbox] {
      margin: 0 auto ($pad*0.5);
    }
  }
  input, b, span {
    flex: 1 1 auto;
  }
}

/* Done Page ---------------------------------------------------------------- */
.donePage {
  h1 {
    color: #fff;
  }
}
.donePage .container {
  display: flex;
  align-items: stretch;
  max-width: 700px;
  margin: 0 auto;
  h3 {
    text-align: center;
  }
}
.info {
  background-color: $colPl;
}
.order {
  background-color: #fff;
}
.info, .order {
  flex: 1 1 50%;
  padding: $pad;
}
.totalPrice {
  font-weight: 800;
  text-align:right;
  border-top: 1px solid $colText;
  border-bottom: 1px solid $colText;
  padding: ($pad * 0.5) 0px;
}

/* Footer ------------------------------------------------------------------- */
footer {
  p {
    color: #fff;
    text-align:center;
  }
}